body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
}

.top-bar {
  background: #1f6f5e;
  padding: 15px;
}

.circles span {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
}

.circles span:nth-child(1) { background: #ff5f56; }
.circles span:nth-child(2) { background: #ffbd2e; }
.circles span:nth-child(3) { background: #27c93f; }


.window {
  display: inline-block;   
  background: #f4f4f4;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 12px 12px 0px #000;
}

.content {
  padding: 40px 40px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#affirmationImage {
  width: 500px;     
  max-width: 90%;
  height: auto;
  border-radius: 20px;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 40px;
}

button {
  background: #ffbd2e;
  border: none;
  padding: 18px 34px;
  font-size: 22px;
  border-radius: 18px;
  cursor: pointer;
  transition: 0.25s;
  box-shadow: 4px 4px 0px #000;
}

button:hover {
  transform: translateY(-4px);
  box-shadow: 6px 6px 0px #000;
}

.top-bar {
  background: #1f6f5e;
  padding: 12px 20px;
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.title {
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;      
  letter-spacing: 1px;
}

#affirmationImage {
  transition: opacity 0.2s ease;
}