body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("batmanbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    font-family: 'Poppins', sans-serif;
}

.calculator {
    width: 320px;
    background: #040a4d;
    border-radius: 25px;
    box-shadow: 10px 10px 0px #b9b9b9;
    overflow: hidden;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #040a4d;
    padding: 10px 15px;
    font-weight: 600;
    color: #E5F000;
}

.display {
    background: #ecf74d;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 42px;
    font-weight: bold;
    color: #000000;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
}

button {
    height: 55px;
    border-radius: 12px;
    border: 3px solid #1a1721;
    background: #1b2377;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 3px 3px 0px #ffffff;
    transition: all 0.1s ease;
}

button:hover {
    background: #E5F000;
    color: #000000;
}

button:active {
    box-shadow: 1px 1px 0px #000000;
    transform: translate(2px, 2px);
}

.ans-btn {
    background: #E5F000;
    color: #000000;
    grid-column: span 2;
}

.clear-btn,
.backspace-btn {
    background: #000000;
    color: #ffffff;
}

.display-icon {
    height: 100px;
    image-rendering: pixelated;
    margin-left: -20px;
}
