body {
  font-family: 'Quicksand', sans-serif;
  background: linear-gradient(to right, #ffd6e8, #ffeaf5);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-image: url("bg.jpg");  
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
}

.app, .habit-container {
  width: 480px;
  background: #ffddee;
  border: 4px solid #9a3a83;
  border-radius: 30px;
  box-shadow: 12px 12px 0 #9a3a83;
  padding: 40px;
  text-align: center;
}

h1 {
  color: #ff69b4;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.date-btn {
  width: 100%;
  aspect-ratio: 1 / 1;

  background: #e68ac1;              
  border: 3px solid #9a3a83;         
  border-radius: 18px;

  font-size: 16px;
  font-weight: 600;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 6px 0 #9a3a83;       

  cursor: pointer;
  transition: all 0.1s ease;
}

.date-btn:active {
  transform: translateY(6px);
  box-shadow: 0 0 0 #2a1f2f;
}

.date-btn:hover {
  transform: scale(1.1);
  background: #ffb6d9;
}

.completed-day {
  background: #b4f8c8 !important;
}

.habit-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

label {
  background: #f1b6d2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-habit {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.add-habit input {
  flex: 1;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid pink;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background: #ff69b4;
  color: white;
  cursor: pointer;
}

.month-controls {
  display: flex;
  justify-content: center;   
  align-items: center;
  gap: 18px;                 
  margin: 20px 0 25px 0;     
}

.month-controls select {
  appearance: none;              
  -webkit-appearance: none;
  -moz-appearance: none;

  padding: 10px 35px 10px 14px;
  font-size: 14px;
  font-weight: 600;

  border-radius: 14px;
  border: 3px solid #8a2d6f;     
  background: #f6a5cf;           

  color: #5a1748;
  cursor: pointer;

  box-shadow: 0 5px 0 #8a2d6f;    

  position: relative;
  transition: all 0.1s ease;
}

.month-controls select {
  width: 140px;
  text-align: center;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 8px;
  font-weight: 600;
  color: #ff69b4;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.empty {
  visibility: hidden;
}

